ul.list-group.sample-colors li.list-group-item {
  padding: 8px;
  margin: 0;
  border: none;
}
ul.list-group.sample-colors li.list-group-item p {
  padding: 0;
  margin: 0;
}
ul.list-group.sample-colors li.list-group-item.text-main {
  color: white;
  background-color: #333333;
}
ul.list-group.sample-colors li.list-group-item.page-packground {
  color: #333333;
  background-color: #f0eff4;
}
ul.list-group.sample-colors li.list-group-item.table-highlight {
  color: #333333;
  background-color: #ffffff;
}
ul.list-group.sample-colors li.list-group-item.teal {
  color: white;
  background-color: #27b4b9;
}
ul.list-group.sample-colors li.list-group-item.teal.darkest {
  background-color: #0f7b80;
}
ul.list-group.sample-colors li.list-group-item.teal.darker {
  background-color: #1d8d91;
}
ul.list-group.sample-colors li.list-group-item.teal.dark {
  background-color: #20a0a4;
}
ul.list-group.sample-colors li.list-group-item.teal.light {
  background-color: #2cc4c9;
}
ul.list-group.sample-colors li.list-group-item.teal.lighter {
  background-color: #32d0d5;
}
ul.list-group.sample-colors li.list-group-item.teal.lightest {
  color: black;
  background-color: #5adfe3;
}
ul.list-group.sample-colors li.list-group-item.teal.bright {
  color: black;
  background-color: #92f1f4;
}
ul.list-group.sample-colors li.list-group-item.teal.lowlight {
  color: black;
  background-color: #aefafc;
}
ul.list-group.sample-colors li.list-group-item.teal.highlight {
  color: black;
  background-color: #d2fbfc;
}
ul.list-group.sample-colors li.list-group-item.light-blue {
  color: white;
  background-color: #00aeef;
}
ul.list-group.sample-colors li.list-group-item.light-blue.darkest {
  background-color: #00698f;
}
ul.list-group.sample-colors li.list-group-item.light-blue.darker {
  background-color: #007fad;
}
ul.list-group.sample-colors li.list-group-item.light-blue.dark {
  background-color: #0099d1;
}
ul.list-group.sample-colors li.list-group-item.light-blue.light {
  background-color: #12b3fc;
}
ul.list-group.sample-colors li.list-group-item.light-blue.lighter {
  background-color: #36c9ff;
}
ul.list-group.sample-colors li.list-group-item.light-blue.lightest {
  color: black;
  background-color: #66d4ff;
}
ul.list-group.sample-colors li.list-group-item.light-blue.bright {
  color: black;
  background-color: #8fdfff;
}
ul.list-group.sample-colors li.list-group-item.light-blue.lowlight {
  color: black;
  background-color: #b5e8fe;
}
ul.list-group.sample-colors li.list-group-item.light-blue.highlight {
  color: black;
  background-color: #ccf1fe;
}
ul.list-group.sample-colors li.list-group-item.dark-blue {
  color: white;
  background-color: #0062a2;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.darkest {
  background-color: #003c63;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.darker {
  background-color: #024977;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.dark {
  background-color: #005790;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.light {
  background-color: #076cb0;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.lighter {
  background-color: #197bbd;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.lightest {
  color: black;
  background-color: #3192d4;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.bright {
  color: black;
  background-color: #5ebaf2;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.lowlight {
  color: black;
  background-color: #96d7ff;
}
ul.list-group.sample-colors li.list-group-item.dark-blue.highlight {
  color: black;
  background-color: #bde6ff;
}
ul.list-group.sample-colors li.list-group-item.gray {
  color: white;
  background-color: #777777;
}
ul.list-group.sample-colors li.list-group-item.gray.darkest {
  background-color: #444444;
}
ul.list-group.sample-colors li.list-group-item.gray.darker {
  background-color: #555555;
}
ul.list-group.sample-colors li.list-group-item.gray.dark {
  background-color: #666666;
}
ul.list-group.sample-colors li.list-group-item.gray.light {
  background-color: #888888;
}
ul.list-group.sample-colors li.list-group-item.gray.lighter {
  background-color: #999999;
}
ul.list-group.sample-colors li.list-group-item.gray.lightest {
  color: black;
  background-color: #aaaaaa;
}
ul.list-group.sample-colors li.list-group-item.gray.bright {
  color: black;
  background-color: #bbbbbb;
}
ul.list-group.sample-colors li.list-group-item.gray.lowlight {
  color: black;
  background-color: #cccccc;
}
ul.list-group.sample-colors li.list-group-item.gray.highlight {
  color: black;
  background-color: #dddddd;
}
ul.list-group.sample-colors li.list-group-item.red {
  color: white;
  background-color: #ea6149;
}
ul.list-group.sample-colors li.list-group-item.red.darkest {
  background-color: #bd3820;
}
ul.list-group.sample-colors li.list-group-item.red.darker {
  background-color: #cf3d23;
}
ul.list-group.sample-colors li.list-group-item.red.dark {
  background-color: #db4c32;
}
ul.list-group.sample-colors li.list-group-item.red.light {
  color: black;
  background-color: #f57058;
}
ul.list-group.sample-colors li.list-group-item.red.lightest {
  color: black;
  background-color: #ff7f66;
}
ul.list-group.sample-colors li.list-group-item.red.lowlight {
  color: black;
  background-color: #ff8c75;
}
ul.list-group.sample-colors li.list-group-item.red.highlight {
  color: black;
  background-color: #ffa18f;
}
ul.list-group.sample-colors li.list-group-item.orange {
  color: white;
  background-color: #ff9933;
}
ul.list-group.sample-colors li.list-group-item.orange.darkest {
  background-color: #eb672f;
}
ul.list-group.sample-colors li.list-group-item.orange.darker {
  background-color: #f07630;
}
ul.list-group.sample-colors li.list-group-item.orange.dark {
  background-color: #f78731;
}
ul.list-group.sample-colors li.list-group-item.orange.light {
  color: black;
  background-color: #ffa733;
}
ul.list-group.sample-colors li.list-group-item.orange.lightest {
  color: black;
  background-color: #ffb433;
}
ul.list-group.sample-colors li.list-group-item.orange.lowlight {
  color: black;
  background-color: #ffc14d;
}
ul.list-group.sample-colors li.list-group-item.orange.highlight {
  color: black;
  background-color: #ffd36e;
}
ul.list-group.sample-colors li.list-group-item.yellow {
  color: black;
  background-color: #ffeb3b;
}
ul.list-group.sample-colors li.list-group-item.yellow.darkest {
  color: black;
  background-color: #f7bc28;
}
ul.list-group.sample-colors li.list-group-item.yellow.darker {
  color: black;
  background-color: #f7c728;
}
ul.list-group.sample-colors li.list-group-item.yellow.dark {
  color: black;
  background-color: #ffde24;
}
ul.list-group.sample-colors li.list-group-item.yellow.light {
  color: black;
  background-color: #ffef62;
}
ul.list-group.sample-colors li.list-group-item.yellow.lightest {
  color: black;
  background-color: #fff67d;
}
ul.list-group.sample-colors li.list-group-item.yellow.lowlight {
  color: black;
  background-color: #fff9a1;
}
ul.list-group.sample-colors li.list-group-item.yellow.highlight {
  color: black;
  background-color: #fffbc9;
}
ul.list-group.sample-colors li.list-group-item.green {
  color: #ffffff;
  background-color: #33cc66;
}
ul.list-group.sample-colors li.list-group-item.green.darkest {
  color: #ffffff;
  background-color: #269d4e;
}
ul.list-group.sample-colors li.list-group-item.green.darker {
  color: #ffffff;
  background-color: #2aab55;
}
ul.list-group.sample-colors li.list-group-item.green.dark {
  color: #ffffff;
  background-color: #2fbb5e;
}
ul.list-group.sample-colors li.list-group-item.green.light {
  color: black;
  background-color: #36d76c;
}
ul.list-group.sample-colors li.list-group-item.green.lightest {
  color: black;
  background-color: #3ce374;
}
ul.list-group.sample-colors li.list-group-item.green.lowlight {
  color: black;
  background-color: #45f17f;
}
ul.list-group.sample-colors li.list-group-item.green.highlight {
  color: black;
  background-color: #56ff8f;
}
