body {
  padding-top: 0;
  font-family: 'Open Sans', Arial, Helvetica, Freesans, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.body-image {
  background: url(/Content/img/Login-wingman-at-your-service-background-full-screen.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,
h2,
h3 {
  margin-top: 3px;
  margin-bottom: 2px;
}
h4,
h5,
h6 {
  margin-top: 3px;
  margin-bottom: 2px;
}
.page-color {
  background-color: #f0eff4;
}
.page-color.transparent {
  background-color: transparent;
}
.accent-color {
  color: #22b4b9;
}
.danger-color {
  color: #e76163;
}
.no-overflow,
.no-overflow span,
.no-overflow p {
  overflow-x: hidden;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
.container-stripe-wrapper {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  height: 100%;
  width: 100%;
}
.container-stripe {
  display: block;
  position: relative;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 1140px;
  background-color: #f0eff4;
}
.container-stripe.transparent {
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .container-stripe {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-stripe {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container-stripe {
    width: 1140px;
  }
}
@media (max-width: 767px) {
  .container-stripe {
    display: none;
  }
  .body-image {
    background: none;
    background-color: #f0eff4;
  }
}
.block-statistics {
  list-style-type: none;
  padding: 3px;
  padding-bottom: 0px;
}
.block-statistics li {
  padding: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  background-color: #666666;
  position: relative;
  overflow: hidden;
}
.block-statistics li:after {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 1px;
  right: 1px;
  background: white;
  width: 14px;
  line-height: 14px;
  font-size: 16px;
  color: #666666;
  content: "\2023";
  font-weight: bold;
}
.block-statistics li h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  width: 30%;
  font-weight: bold;
}
.block-statistics li h1.thousands {
  font-size: 24px;
}
.block-statistics li p {
  width: 70%;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  color: white;
}
.block-statistics li.block-statistics-primary {
  background-color: #22b4b9;
}
.block-statistics li.block-statistics-primary:after {
  color: #22b4b9;
}
.block-statistics li.block-statistics-primary h1 {
  color: white;
}
.block-statistics li.block-statistics-primary p {
  color: white;
}
.block-statistics li.block-statistics-info {
  background-color: #00aeef;
}
.block-statistics li.block-statistics-info:after {
  color: #00aeef;
}
.block-statistics li.block-statistics-info h1 {
  color: white;
}
.block-statistics li.block-statistics-info p {
  color: white;
}
.block-statistics li.block-statistics-danger {
  background-color: #e76163;
}
.block-statistics li.block-statistics-danger:after {
  color: #e76163;
}
.block-statistics li.block-statistics-danger h1 {
  color: white;
}
.block-statistics li.block-statistics-danger p {
  color: white;
}
.block-statistics li.block-statistics-warning {
  background-color: #ff9a00;
}
.block-statistics li.block-statistics-warning h1 {
  color: #666666;
}
.block-statistics li.block-statistics-warning p {
  color: #666666;
}
.block-statistics li.block-statistics-success {
  background-color: #0db4ba;
}
.block-statistics li.block-statistics-success:after {
  color: #0db4ba;
}
.block-statistics li.block-statistics-success h1 {
  color: white;
}
.block-statistics li.block-statistics-success p {
  color: white;
}
.action-header {
  color: #666666;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-bottom: 11px;
  position: relative;
}
.action-header h1 {
  font-weight: bold;
  font-size: x-large;
}
.action-header h1 .subtitle {
  color: #22b4b9;
  font-weight: normal;
}
.action-header > div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.toolbar {
  margin-bottom: 10px;
}
.toolbar h1 {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.container-header {
  background-color: white;
  padding-top: 5px;
}
.container-body {
  margin-top: 15px;
}
ul.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
}
ul.breadcrumb li a {
  color: #666666;
  font-weight: bold;
  font-size: smaller;
}
ul.breadcrumb li.active {
  color: #22b4b9;
  font-size: smaller;
}
.breadcrumb > li + li:before {
  content: ">";
  font-size: smaller;
}
.page-header {
  padding-top: 3px;
  padding-bottom: 0;
  margin: 0 0 3px;
  border-bottom: none;
}
.page-header ul.nav-tabs > li {
  margin-left: 12px;
}
.page-header ul.nav-tabs > li > a > span {
  padding: 0 2px;
  font-size: 22px;
}
.page-header ul.nav-tabs .dropdown-menu.expand {
  min-width: 292px;
}
.page-header ul.nav-tabs .dropdown-menu.expand > .row > .col-xs-6:first-child {
  padding-right: 0;
  border-right: 1px dotted #b4bcc2;
}
.page-header ul.nav-tabs .dropdown-menu.expand > .row > .col-xs-6:last-child {
  padding-left: 0;
}
.page-header ul.nav-tabs .dropdown-menu.expand ul.list {
  list-style: none;
  padding: 0;
  margin: 0 2px;
}
.page-header ul.nav-tabs .dropdown-menu.expand ul.list > li > a {
  display: block;
  margin: 0;
}
.page-header ul.nav-tabs .dropdown-menu.expand ul.list > li > a:hover,
.page-header ul.nav-tabs .dropdown-menu.expand ul.list > li > a:focus {
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
}
.nav-tabs-header {
  border-bottom: none;
}
.nav-tabs-header img {
  background: #666666;
}
.nav-tabs-header li a {
  padding: 3px 0;
  margin-right: 2px;
  margin-left: 6px;
  color: #666666;
}
.nav-tabs-header li.current a {
  color: #22b4b9;
}
.org-small-logo {
  margin: 0;
  max-height: 30px;
  max-width: 30px;
  padding: 0;
}
.org-large-logo {
  margin: 0;
  max-height: 80px;
  max-width: 80px;
  padding: 0;
}
.action-header-menu {
  margin-top: -56px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .page-header ul.nav-tabs .dropdown-menu.expand {
    right: -49px;
  }
  .action-header-menu {
    margin-top: 0;
    padding-right: 0;
  }
}
.panel-heading {
  padding: 6px;
}
.panel-body {
  padding: 6px;
}
@media (max-width: 1600px) {
  /* or min-width: wherever-you-want-your-fluid-breakpoint */
  body .container {
    max-width: 100%;
  }
  .container-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-stripe,
  .container-stripe-wrapper {
    display: none;
  }
  .container-stripe.transparent,
  .container-stripe-wrapper.transparent {
    display: block;
  }
}
.toggled-header {
  margin-bottom: 20px;
}
.toggled-header .map-dashboard,
.toggled-header .carousel-inner .item,
.toggled-header .carousel-inner .item > img {
  height: 200px;
}
.toggled-header .carousel .carousel-caption > span {
  font-size: 11px;
  display: block;
  background-color: black;
  opacity: 0.65;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  padding: 2px;
}
.toggled-header .carousel .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
.toggled-header .carousel .carousel-indicators li {
  background-color: #666666;
  border-color: white;
  border-radius: 0;
  width: 14px;
  height: 14px;
}
.toggled-header .carousel .carousel-indicators li.active {
  background-color: #22b4b9;
}
.toggled-header .carousel .carousel-control.bottom {
  height: 25px;
  width: 25px;
  font-size: 13px;
  bottom: 0;
  top: auto;
  background-image: none;
  background-color: #666666;
  border: solid 1px white;
  border-bottom: 0;
  opacity: 1;
}
.toggled-header .carousel .carousel-control.bottom > span {
  top: 5px;
}
.toggled-header .carousel .carousel-control.bottom.left {
  border-left: none;
}
.toggled-header .carousel .carousel-control.bottom.left > span {
  left: 5px;
  right: auto;
}
.toggled-header .carousel .carousel-control.bottom.right {
  border-right: none;
}
.toggled-header .carousel .carousel-control.bottom.right > span {
  left: auto;
  right: 5px;
}
iframe,
object,
embed {
  min-width: 100%;
}
.carousel-inner img {
  width: 100%;
}
iframe.map-of-row {
  height: 120px;
}
@media (max-width: 767px) {
  .toggled-header .map-dashboard,
  .toggled-header .carousel-inner .item,
  .toggled-header .carousel-inner .item > img {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .toggled-header img.logo {
    width: 75px;
  }
  .toggled-header .map-dashboard,
  .toggled-header .carousel-inner .item,
  .toggled-header .carousel-inner .item > img {
    height: 160px;
  }
}
@media (max-width: 1600px) {
  /* or min-width: wherever-you-want-your-fluid-breakpoint */
  body .container {
    max-width: 100%;
  }
}
/*# sourceMappingURL=synergy.base.css.map */