.dropdown-menu > li > a {
  padding: 7px 20px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #00aeef;
  color: white;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
    top: 30px;
    left: 40%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
}
.typeahead .active > a,
.typeahead .active > a:hover {
  color: white;
  /* Change the typeahead background color here if you'd like */
  background-color: #666666;
  /* Turns off the default background gradients */
  /*background-image: none;*/
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
h4.primary {
  color: #27b4b9;
}
@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
.link-plain {
  color: #333333;
}
a.link-danger {
  color: #ea6149;
}
a.link-danger:focus,
a.link-danger:hover {
  color: #ea6149;
}
.footer {
  margin-top: 70px;
}
.logox2 {
  margin-bottom: 70px;
}
.list-header {
  height: 45px;
  margin-top: 40px;
}
h3.section-heading {
  color: #27b4b9;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
hr.divider {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666666;
}
hr.fine-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
  border-top: none;
}
hr.spacer {
  margin: 3px 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.alert-warning {
  color: black;
}
.input-group-addon-primary {
  background-color: #269d4e;
  color: white;
}
.input-group-addon {
  border-bottom: 3px solid #777777;
  color: white;
  padding: 4px 12px 0 12px;
}
.has-error .input-group-addon {
  border-color: #cf3d23 !important;
}
.text-padding {
  padding: 5px 10px;
}
img.logo-of-row {
  width: 100%;
  max-width: 70px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
img.block {
  width: 100%;
  max-height: 120px;
  padding: 1px;
  border: 1px solid #aaaaaa;
}
.panel.card.panel-default {
  border-color: #aaaaaa;
}
.panel.card .panel-heading .pull-right .btn-sm {
  border: 1px solid #ffffff;
  padding: 2px 10px;
}
.panel.card .panel-body {
  min-height: 145px;
}
@media (max-width: 767px) {
  .section {
    margin-right: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #269d4e;
  }
  .section .title {
    margin-bottom: 0;
    border-bottom: none;
  }
  .section.xs-noborder {
    border-bottom: none;
  }
}
a.guide {
  color: #777777;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 4px;
  background-color: #fff;
}
a.guide.light {
  color: #777777;
}
a.guide:focus,
a.guide:hover {
  text-decoration: none !important;
  background-color: #aaaaaa;
  color: #ffffff;
}
div[class^="col-"] > .guide {
  right: 15px;
}
span.active {
  color: #27b4b9;
  font-size: smaller;
}
span.active.link {
  cursor: pointer;
}
span.active.link:hover,
span.active.link:focus,
span.active.link:active {
  text-decoration: underline;
}
.linked {
  cursor: pointer;
}
.linked:hover,
.linked:focus,
.linked:active {
  background-color: #666666;
  opacity: 0.5;
}
.box-rotate {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.spinner-container {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  display: none;
}
.spinner-container > span {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}
.spinner-container.notopmargin > span {
  margin-top: auto;
}
.spinner-container.open {
  display: block;
}
.spinner-container.action-page {
  padding-top: 120px;
}
.progress-box .progress {
  padding: 1px;
  margin-bottom: 0;
  height: 7px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #33cc66;
}
.progress-box .progress.thick {
  margin-top: 3px;
  height: 25px;
  border-radius: 5px;
}
.progress-box .progress.thick .progress-bar {
  border-radius: 5px;
}
.progress-box .progress .progress-bar-success {
  background-color: #ffffff;
}
.progress-box .progress.reverse {
  background-color: #ffffff;
  border-color: #33cc66;
}
.progress-box .progress.reverse .progress-bar-success {
  background-color: #33cc66;
}
@media (max-width: 1599px) {
  .spinner-container > span {
    margin-top: 80px;
  }
  .progress-box {
    margin-top: 3px;
  }
}
ul.list-stripe > li:nth-child(odd) {
  background: #ffffff;
}
ul.list-stripe > li:nth-child(even) {
  background: #f0eff4;
}
ul.list-stripe.reverse > li:nth-child(odd) {
  background: #f0eff4;
}
ul.list-stripe.reverse > li:nth-child(even) {
  background: #ffffff;
}
.ng-cloak {
  display: none !important;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.tree-list .list-group {
  margin-top: 5px;
}
.tree-list .list-group-item {
  padding: 2px 0 2px 15px;
}
.tree-list .list-group-item a.title {
  text-decoration: none;
  float: left;
  color: #555555;
}
.tree-list .list-group-item a.title .form-control {
  display: inline-block;
  width: auto;
  border-color: #aaaaaa;
  cursor: auto;
}
.tree-list .list-group-item a.title .form-control[disabled] {
  background-color: transparent;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.tree-list .list-group-item .tools {
  float: right;
  padding-right: 15px;
}
.tree {
  margin-top: 10px;
  position: relative;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
}
.tree .form-control {
  border-color: #aaaaaa;
}
.tree hr {
  margin: 5px 0;
}
.tree .tree-item {
  margin-top: 5px;
  margin-bottom: 1px;
}
.tree .tab1 {
  margin-left: 10px;
}
.tree .tab2 {
  margin-left: 30px;
}
.tree .tab3 {
  margin-left: 50px;
}
.tree .tab4 {
  margin-left: 70px;
}
.control-label.control-label-fill {
  display: block;
}
.form-group .btn.btn-lg.btn-link.popover-help {
  margin: -8px 0 -5px 5px;
  padding: 0;
  color: #aaaaaa;
  font-size: 11px;
}
.tooltip-inner {
  max-width: none;
  white-space: nowrap;
}
input[type=number].no-spinners::-webkit-inner-spin-button,
input[type=number].no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
