#site-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
#site-menu-left,
#site-menu-right {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #444444;
  color: #f0eff4;
  font-size: 14px;
  padding: 0;
}
#site-menu-left a,
#site-menu-right a,
#site-menu-left .btn-link,
#site-menu-right .btn-link {
  color: #f0eff4;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
#site-menu-left .btn.btn-link.btn-toggle-chevron,
#site-menu-right .btn.btn-link.btn-toggle-chevron {
  text-align: center;
}
#site-menu-left .btn.btn-link.btn-darker,
#site-menu-right .btn.btn-link.btn-darker {
  color: #aaaaaa;
}
#site-menu-left .btn.btn-link.btn-darker:hover,
#site-menu-right .btn.btn-link.btn-darker:hover {
  color: #27b4b9;
}
#site-menu-left .btn.btn-link.btn-toggle-darker,
#site-menu-right .btn.btn-link.btn-toggle-darker {
  background: #333333;
}
#site-menu-left .btn.btn-link.btn-toggle-darker:hover,
#site-menu-right .btn.btn-link.btn-toggle-darker:hover {
  color: #27b4b9;
}
#site-menu-left .btn.btn-link:hover,
#site-menu-right .btn.btn-link:hover {
  color: #27b4b9;
}
#site-menu-left img,
#site-menu-right img {
  width: 40px;
  height: 40px;
}
#site-menu-left .row,
#site-menu-right .row {
  border-bottom: 1px solid #666666;
}
#site-menu-left .row.bordered div[class^="col-"],
#site-menu-right .row.bordered div[class^="col-"] {
  border-right: 1px solid #666666;
}
#site-menu-left .row.bordered-right-bottom div[class^="col-"],
#site-menu-right .row.bordered-right-bottom div[class^="col-"] {
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#site-menu-left .row span[class^="icon-font-"],
#site-menu-right .row span[class^="icon-font-"] {
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 12px 3px;
}
#site-menu-left .row span[class^="icon-font-chevron"],
#site-menu-right .row span[class^="icon-font-chevron"] {
  color: white;
}
#site-menu-left .row span[class^="icon-font-chevron"]:hover,
#site-menu-right .row span[class^="icon-font-chevron"]:hover {
  color: #27b4b9;
}
#site-menu-left .row.menu-title-row .btn-link,
#site-menu-right .row.menu-title-row .btn-link {
  color: #aaaaaa;
  padding: 15px 3px;
}
#site-menu-left .row.menu-title-row .btn-link:hover,
#site-menu-right .row.menu-title-row .btn-link:hover {
  color: #27b4b9;
}
#site-menu-left .row.menu-title-row .btn-link.toggle-nav-right,
#site-menu-right .row.menu-title-row .btn-link.toggle-nav-right,
#site-menu-left .row.menu-title-row .btn-link.toggle-nav-left,
#site-menu-right .row.menu-title-row .btn-link.toggle-nav-left {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 3px;
}
#site-menu-left .row.menu-header-row .btn-link,
#site-menu-right .row.menu-header-row .btn-link {
  color: #aaaaaa;
}
#site-menu-left .row.menu-header-row .btn-link:hover,
#site-menu-right .row.menu-header-row .btn-link:hover {
  color: #27b4b9;
}
#site-menu-left .row.menu-organisation-row div[class^="col-"] .btn-link,
#site-menu-right .row.menu-organisation-row div[class^="col-"] .btn-link {
  padding: 20px 10px;
}
#site-menu-left .row.menu-organisation-row div[class^="col-"] .btn-link img,
#site-menu-right .row.menu-organisation-row div[class^="col-"] .btn-link img {
  margin: -10px 10px -10px 0;
}
#site-menu-left .row.menu-section-row .btn-link,
#site-menu-right .row.menu-section-row .btn-link {
  padding: 10px 0 10px 10px;
}
#site-menu-left .row.menu-section-row .btn-link smaller,
#site-menu-right .row.menu-section-row .btn-link smaller {
  font-size: 10px;
}
#site-menu-left .row.menu-section-row .btn-link p,
#site-menu-right .row.menu-section-row .btn-link p {
  margin: 0;
  padding: 0;
  font-size: 6px;
}
#site-menu-left .row.menu-group-row div[class^="col-"] .btn-link,
#site-menu-right .row.menu-group-row div[class^="col-"] .btn-link {
  padding: 20px 10px;
}
#site-menu-left .row.menu-group-row div[class^="col-"] .btn-link img,
#site-menu-right .row.menu-group-row div[class^="col-"] .btn-link img {
  margin: -10px 10px -10px 0;
}
#site-menu-left .row.menu-sub-area,
#site-menu-right .row.menu-sub-area {
  background: #333333;
}
#site-menu-left .row.menu-profile-row div[class^="col-"] .btn-link,
#site-menu-right .row.menu-profile-row div[class^="col-"] .btn-link {
  padding: 20px 10px;
}
#site-menu-left .row.menu-profile-row div[class^="col-"] .btn-link img,
#site-menu-right .row.menu-profile-row div[class^="col-"] .btn-link img {
  margin: -10px 10px -10px 0;
}
#site-menu-underlay {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: black;
  opacity: 0.5;
}
#site-menu-overlay {
  width: 320px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1060;
  box-shadow: 10px 0 10px -10px #333333;
  background: #444444;
  color: #f0eff4;
  font-size: 14px;
  padding: 0;
}
#site-menu-overlay a,
#site-menu-overlay .btn-link {
  color: #f0eff4;
  font-size: 14px;
  text-align: left;
}
#site-menu-overlay .btn.btn-link.btn-toggle-chevron {
  text-align: center;
}
#site-menu-overlay .btn.btn-link.btn-darker {
  color: #aaaaaa;
}
#site-menu-overlay .btn.btn-link.btn-darker:hover {
  color: #27b4b9;
}
#site-menu-overlay .btn.btn-link.btn-toggle-darker {
  background: #333333;
}
#site-menu-overlay .btn.btn-link.btn-toggle-darker:hover {
  color: #27b4b9;
}
#site-menu-overlay .btn.btn-link:hover {
  color: #27b4b9;
}
#site-menu-overlay img {
  width: 40px;
  height: 40px;
}
#site-menu-overlay .row {
  border-bottom: 1px solid #666666;
}
#site-menu-overlay .row.bordered div[class^="col-"] {
  border-right: 1px solid #666666;
}
#site-menu-overlay .row.bordered-right-bottom div[class^="col-"] {
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#site-menu-overlay .row span[class^="icon-font-"] {
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 12px 3px;
}
#site-menu-overlay .row span[class^="icon-font-chevron"] {
  color: white;
}
#site-menu-overlay .row span[class^="icon-font-chevron"]:hover {
  color: #27b4b9;
}
#site-menu-overlay .row.menu-title-row .btn-link {
  color: #aaaaaa;
  padding: 15px 3px;
}
#site-menu-overlay .row.menu-title-row .btn-link:hover {
  color: #27b4b9;
}
#site-menu-overlay .row.menu-title-row .btn-link.toggle-nav-right,
#site-menu-overlay .row.menu-title-row .btn-link.toggle-nav-left {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 3px;
}
#site-menu-overlay .row.menu-header-row .btn-link {
  color: #aaaaaa;
}
#site-menu-overlay .row.menu-header-row .btn-link:hover {
  color: #27b4b9;
}
#site-menu-overlay .row.menu-organisation-row div[class^="col-"] .btn-link {
  padding: 20px 10px;
}
#site-menu-overlay .row.menu-organisation-row div[class^="col-"] .btn-link img {
  margin: -10px 10px -10px 0;
}
#site-menu-overlay .row.menu-section-row .btn-link {
  padding: 10px 0 10px 10px;
}
#site-menu-overlay .row.menu-section-row .btn-link :first-child {
  overflow: hidden;
  display: inline-block;
}
#site-menu-overlay .row.menu-section-row .btn-link :first-child b {
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
#site-menu-overlay .row.menu-section-row .btn-link smaller {
  font-size: 10px;
}
#site-menu-overlay .row.menu-section-row .btn-link p {
  margin: 0;
  padding: 0;
  font-size: 6px;
}
#site-menu-overlay .row.menu-sub-area {
  background: #333333;
}
#site-menu-overlay .row.menu-profile-row div[class^="col-"] .btn-link {
  padding: 20px 10px;
}
#site-menu-overlay .row.menu-profile-row div[class^="col-"] .btn-link img {
  margin: -10px 10px -10px 0;
}
#site-menu-left {
  left: -300px;
}
#site-menu-right {
  right: -300px;
}
#site-wrapper.show-nav-left #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
#site-wrapper.show-nav-right #site-canvas {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}
/*# sourceMappingURL=synergy.off-canvas-menu.css.map */