.warning {
  color: #ff9933;
}
.success {
  color: #33cc66;
}
.danger {
  color: #ea6149;
}
.teal {
  color: #27b4b9 !important;
}
.navbar {
  margin-bottom: 0;
  box-shadow: 0 3px 3px #dddddd;
  height: 40px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.navbar .navbar-brand {
  padding: 0;
  border-right: 1px solid #dddddd;
}
.navbar .navbar-home {
  padding: 0;
}
.navbar .input-group {
  width: 210px;
}
.navbar .input-group .search-button {
  border: none;
  border-bottom: 3px solid #333333;
  background: #555555;
  color: white;
  padding: 0 !important;
  height: 40px;
  width: 40px;
}
.navbar .input-group .search-button:hover {
  background: #333333;
}
.navbar .input-group .search-text {
  border: 1px white solid;
  border-left: 1px #777777 solid;
  color: #666666;
  padding-left: -2px;
  height: 40px;
}
.navbar ul.nav.buttons > li {
  height: 40px;
  position: relative;
}
.navbar ul.nav.buttons > li div.language-select label.active {
  background-color: lightblue;
}
.navbar ul.nav.buttons > li a.button {
  height: 40px;
  width: 40px;
  padding: 0;
  position: relative;
}
.navbar ul.nav.buttons > li a.button.search {
  background: #555555;
  color: white;
  border-bottom: 3px solid #333333;
  padding: 0;
}
.navbar ul.nav.buttons > li a.button.search:hover {
  background: #333333;
}
.navbar ul.nav.buttons > li a.button.no-notifications {
  background: #32d0d5;
  color: white;
  border-bottom: 3px solid #20a0a4;
  text-align: center;
  padding: 0;
  font-weight: bold;
}
.navbar ul.nav.buttons > li a.button.no-notifications:hover {
  background: #20a0a4;
}
.navbar ul.nav.buttons > li a.button.no-notifications .notifications-count {
  position: absolute;
  top: 10px;
  width: 40px;
  text-align: center;
}
.navbar ul.nav.buttons > li a.button.notifications {
  background: #ea6149;
  color: #fff;
  border-bottom: 3px solid #db4c32;
  text-align: center;
  padding: 0;
  font-weight: bold;
}
.navbar ul.nav.buttons > li a.button.notifications:hover {
  background: #db4c32;
}
.navbar ul.nav.buttons > li a.button.notifications .notifications-count {
  position: absolute;
  top: 10px;
  width: 40px;
  text-align: center;
}
.navbar ul.nav.buttons > li a.button.timers {
  background: #27b4b9;
  color: white;
  border-bottom: 3px solid #1d8d91;
  text-align: center;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.navbar ul.nav.buttons > li a.button.timers:hover {
  background: #1d8d91;
}
.navbar ul.nav.buttons > li a.button.timers img#running-timer-image-pulse {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar ul.nav.buttons > li a.button.timesheets {
  background: #1d8d91;
  color: white;
  border-bottom: 3px solid #0f7b80;
  text-align: center;
  padding: 0;
}
.navbar ul.nav.buttons > li a.button.timesheets:hover {
  background: #0f7b80;
}
.navbar ul.nav.buttons > li a.button.profile {
  background: #666666;
  color: white;
  border-bottom: 3px solid #555555;
  padding: 0;
  margin: 0;
}
.navbar ul.nav.buttons > li a.button.profile:hover {
  background: #555555;
}
.navbar ul.nav.buttons > li a.button.menu {
  background: #555555;
  color: white;
  border-bottom: 3px solid #333333;
  text-align: center;
  padding: 0;
}
.navbar ul.nav.buttons > li a.button.menu:hover {
  background: #333333;
}
.navbar-container {
  padding-right: 0;
}
.navbar-default {
  background: white;
}
.navbar-inverse {
  border-top: 3px solid #b4bcc2;
}
.navbar-logo {
  margin: 0;
}
.navigation {
  position: relative;
}
.navigation #top-navbar-collapse ul.nav li.site-search {
  position: absolute;
  padding: 3px 25px 0 25px;
  margin: 0 auto;
  width: 33.33333333333333%;
  left: 33.33333333333333%;
}
.navigation a.navbar-toggle.fixed {
  display: block;
}
.navigation ul.nav.buttons > li {
  float: left;
}
.navigation .nav.buttons .open > a,
.navigation .nav.buttons .open > a:hover,
.navigation .nav.buttons .open > a:focus {
  background-color: #1a242f;
  color: white;
}
.navigation a.navbar-toggle.button {
  margin: 2px 2px 2px 0;
  color: #666666;
  padding: 6px;
}
.navigation a.navbar-toggle {
  border: none;
}
.navigation a.navbar-toggle.accent {
  background-color: #27b4b9;
}
.navigation a.navbar-toggle.default {
  background-color: #666666;
}
.navigation a.navbar-toggle.square {
  margin-top: 5px;
  margin-right: 8px;
  padding: 4px 0;
  width: 28px;
  height: 28px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.navigation a.navbar-toggle.square-image {
  padding: 0;
}
.navbar-toggle.dark {
  background: #555555;
  color: white;
}
.navbar-toggle.dark img {
  padding-top: 5px;
}
.navigation a.navbar-toggle.button > span[class^="icon-font"] {
  font-size: 20px;
}
.navigation a.navbar-toggle.button > span.picture {
  display: inline-block;
  margin-top: -15px;
  margin-bottom: -4px;
}
.navigation a.navbar-toggle.button:hover,
.navigation a.navbar-toggle.button:focus {
  text-decoration: none;
  border-color: white;
}
.navigation a.navbar-toggle.button.fixed {
  display: block;
}
.navigation a.navbar-toggle.button.mobile {
  display: none;
}
.navbar-username {
  display: block;
  color: #555555;
  margin-top: 8px;
}
.navbar-status-loading {
  position: absolute;
  top: 5px;
  left: 140px;
  text-align: right;
  font-size: 20px;
}
.navbar-status-error {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
  text-align: right;
  font-size: 12px;
  padding: 5px;
  color: #ea6149;
}
@media (max-width: 768px) {
  .navbar-username {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-container {
    padding-right: 10px;
    padding-left: 0;
  }
  .navbar-status-loading {
    left: 80px;
  }
}
@media (max-width: 767px) {
  .navigation .navbar-brand {
    padding: 0;
    margin: 0 0 -10px 0;
    height: auto;
  }
  .navigation .navbar-logo {
    margin: 0;
  }
  .navigation .navbar-header {
    display: inline-block;
  }
  .navigation a.navbar-toggle.button {
    display: block !important;
  }
  .navigation .title {
    display: none;
  }
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li.divider {
    margin: 0;
  }
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li > a,
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li.dropdown-header {
    line-height: 17px;
    padding: 4px 10px 4px 10px;
    font-size: 13px;
  }
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li > a {
    padding: 3px 10px;
  }
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navigation #top-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #666666;
  }
  .navigation #top-navbar-collapse ul.nav li.site-search {
    position: relative;
    left: auto;
    width: auto;
    margin-left: 12px;
    padding: 8px 10px 0 0;
  }
  .navigation #top-navbar-collapse ul.nav li.site-search .input-group {
    position: relative;
    left: auto;
  }
  .navigation #top-navbar-collapse ul.nav li.spacer {
    height: 105px;
  }
}