.imageView {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
.statusText {
  padding-right: 25px;
}
/*.imageView:nth-child(2n) {
    clear: left;
}

.imageView:nth-child(2n+1) {
    margin-right: 0;
}*/
.imageView > img {
  height: 296px;
  width: 100%;
  vertical-align: top !important;
  background-color: white;
}
.document-shares {
  padding-top: 10px;
}
.document-checkout-header {
  margin-top: -15px;
  background-color: #ea6149;
  padding: 15px 0 0 0;
}
.document-checkout-header > div > span {
  text-align: right;
  position: relative;
  padding-left: 10px;
  color: white;
  bottom: 9px;
  font-weight: bold;
}
.document-checkout-header .btn-cancel-checkout {
  border: 0;
  background-color: white !important;
  border-color: #666666;
  border-bottom: 2px solid #666666;
  color: red;
  margin-right: 15px;
}
.document-checkout-header .btn-cancel-checkout:hover {
  border-color: #666666;
  background-color: #dddddd !important;
  color: red;
}
.document-checkout-header .btn-checkin {
  border: 0;
  border-color: #666666;
  background-color: #666666 !important;
  border-bottom: 2px solid #555555;
  color: white;
}
.document-checkout-header .btn-checkin:hover {
  background-color: #444444 !important;
  border-bottom: 2px solid #555555;
  color: white;
}
@media (max-width: 767px) {
  .project-document-header .btn.btn-lg.btn-action.btn-primary {
    text-indent: -9999px;
    color: #fff;
    display: inline-block;
    min-width: 45px;
    background: url("/Content/img/icon-40px-upload.png") center center no-repeat;
    background-color: #27b4b9;
  }
  .project-document-header .btn.btn-lg.btn-action.btn-primary:hover {
    background-color: #1d8d91;
  }
}
@media (max-width: 767px) {
  .project-document-share .btn.btn-lg.btn-action.btn-primary {
    text-indent: -9999px;
    color: #fff;
    display: inline-block;
    min-width: 45px;
    background: url("/Content/img/icon-40px-add.png") center center no-repeat;
    background-color: #27b4b9;
  }
  .project-document-share .btn.btn-lg.btn-action.btn-primary:hover {
    background-color: #1d8d91;
  }
}
.document-search-header tags-input .tags .input {
  width: 100%;
}
.document-search-header .input-wrapper {
  margin: 10px 0px;
}
.document-search-header .clear-btn {
  padding: 0px;
  border-right: 1px dashed #333333;
}
.document-search-header .toggle-btn-wrapper {
  padding-top: 7px;
}
.document-search-header .icon-font-caret-down {
  color: #fff;
  font-size: 18px;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 27px;
  margin-left: 10px;
  background: #27b4b9;
}
.document-search-header .advance-search-toggle-btn,
.document-search-header .advance-search-toggle-btn.collapsed {
  display: inline-block;
}
.document-search-header .advance-search-toggle-btn:before {
  content: "  Sample  search  ";
}
.document-search-header .advance-search-toggle-btn .icon-font-caret-down:before {
  content: "\f0d8";
}
.document-search-header .advance-search-toggle-btn.collapsed:before {
  content: "Advanced search";
}
.document-search-header .advance-search-toggle-btn.collapsed .icon-font-caret-down:before {
  content: "\f0d7";
}
@media (max-width: 991px) {
  .document-search-header .no-top-margin {
    margin-top: 0px;
  }
}
.project-document-content {
  /*
  .icon-font-document-folder-empty:before{
    content: "\e61a";
  }
  */
}
@media (max-width: 767px) {
  .project-document-content h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .document-checkout-header {
    padding: 0;
  }
  .document-checkout-header > div > span {
    text-align: center !important;
  }
  .document-checkout-header .action {
    text-align: center;
    bottom: 15px;
  }
  .btn-cancel-checkout {
    width: 100%;
  }
  .btn-checkin {
    width: 100%;
  }
}
/*# sourceMappingURL=synergy.document.css.map */