.creditCardRetry {
  text-decoration: underline;
  color: white;
}
.subscription-summary .title {
  margin: 0 -15px;
  padding: 10px;
  background: #666666;
}
.subscription-summary .title h1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.subscription-summary .title h2 {
  color: white;
  font-size: 14px;
}
.subscription-summary .users {
  margin-top: 20px;
}
.subscription-summary .users h4 {
  font-weight: bold;
}
.subscription-summary .storage {
  margin-top: 20px;
}
.subscription-summary .storage h4 {
  font-weight: bold;
}
.subscription-summary .footer {
  margin: 5px 0 0 0;
}
.subscription-summary .footer p {
  margin: 10px;
  text-align: center;
}
.invoice-page .invoice-number {
  position: relative;
  top: -15px;
  width: 180px;
}
.invoice-page .status {
  height: 70px;
  width: 140px;
}
.invoice-page .status hr {
  margin: 1px;
  position: relative;
  top: 5px;
}
.invoice-page .status .status-label {
  color: white;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.invoice-page .status .status-text {
  color: white;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.invoice-page .status .status-desc {
  color: white;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.invoice-page .invoice-amount {
  position: relative;
  left: -10px;
  float: left;
  width: 100px;
}
.invoice-page .invoice-amount .invoice-foreign-label {
  position: relative;
  top: 0px;
}
.invoice-page .invoice-amount .invoice-foreign-amount {
  position: relative;
  top: -2px;
}
.invoice-page .invoice-amount .invoice-total-label {
  position: relative;
  top: 1px;
}
.invoice-page .invoice-amount .invoice-total-amount {
  font-size: 23px;
  position: relative;
  top: -6px;
}
.invoice-page .invoice-amount .invoice-currency {
  font-size: 11px;
}
