.upsell-title {
  text-transform: uppercase;
}
.upsell-description {
  text-transform: lowercase;
}
.panel.organisation {
  margin-bottom: 20px;
}
.panel.organisation.expired .panel-body {
  border: 1px solid #cf3d23;
  box-shadow: 0 0 3px #cf3d23;
}
.panel.organisation.trial .panel-body {
  border: 1px solid #007fad;
  box-shadow: 0 0 3px #007fad;
}
.panel.organisation .bd {
  padding-top: 22px;
}
.panel.organisation .title {
  color: #333333;
  font-size: 18px;
}
.panel.organisation .guide {
  right: 0;
}
.panel.organisation p.organisation-user {
  font-size: 12px;
  color: #777777;
  margin-top: 3px;
}
.panel.organisation p.organisation-user b {
  color: black;
}
.panel.organisation .organisation-links a {
  margin: 3px 3px 3px 0;
  display: block;
  color: #333333;
  text-decoration: underline;
}
ul.organisation-summary {
  margin: 0;
  background: #f0eff4;
}
ul.organisation-summary li {
  margin-bottom: 1px;
  padding: 3px;
  border: none;
}
ul.organisation-summary li a {
  color: #333333;
  text-decoration: none;
  margin-left: 6px;
}
ul.organisation-summary li a img {
  height: 30px;
  width: 30px;
}
ul.organisation-summary li a:hover {
  color: #27b4b9;
}
.report-logo-preview {
  float: left;
  margin: 0 5px 5px 0;
  width: 110px;
  height: 60px;
  /*width: 100% !important;*/
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-color: white;
}
.report-logo-preview img {
  max-width: 100%;
  max-height: 100%;
}
.report-logo-preview a {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.report-logo-preview a:hover {
  text-decoration: none;
}
.report-logo-select {
  float: right;
  margin: 0 5px 5px 0;
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #777777;
  position: absolute;
  top: 38px;
  left: 95px;
}
.organisation-logo-preview {
  float: left;
  margin: 0 5px 5px 0;
  height: 100% !important;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.organisation-logo-preview img {
  max-width: 100%;
  max-height: 100%;
}
.organisation-logo-preview a {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.organisation-logo-preview a:hover {
  text-decoration: none;
}
.organisation-logo-select {
  float: right;
  margin: 0 5px 5px 0;
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #777777;
  position: relative;
  top: -22px;
  left: 4px;
}
.organisation-logo-remove {
  float: right;
  margin: 0 5px 5px 0;
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #777777;
  position: relative;
  top: -22px;
  left: 4px;
}
.organisation-home-page .banner-wrapper {
  padding-top: 30px;
}
.organisation-home-page .intro-banner-container {
  display: table;
  width: 100%;
}
.organisation-home-page .intro-banner-container button {
  position: absolute;
  right: 20px;
  top: 32px;
  font-size: 30px;
  color: white;
  opacity: 1;
}
.organisation-home-page .intro-banner-container button:hover {
  opacity: 0.8;
}
.organisation-home-page .intro-banner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-top: 30px;
  height: 250px;
  padding: 0px 30px;
  background: #00aeef;
}
.organisation-home-page .intro-banner .btn {
  margin-top: 30px;
  display: inline-block;
  background: #fff;
  padding-left: 30px;
  padding-right: 30px;
  color: #00aeef;
  font-weight: bold;
  font-size: 14px;
}
.organisation-home-page .intro-banner .btn:hover {
  color: #007fad;
}
.organisation-home-page .intro-banner h2 {
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 130%;
}
.organisation-home-page .intro-banner h2 a {
  font-weight: bold;
  color: #fff;
}
