.summary-container {
  margin-top: 15px;
}
.creditCardRetry {
  text-decoration: underline;
  color: white;
}
.panel.grid {
  box-shadow: none;
}
.panel.grid .form-control {
  border-color: #ecf0f1;
}
.panel.grid.no-background {
  background-color: transparent;
}
.panel.grid.no-background .panel-heading {
  padding-left: 0;
  padding-right: 0;
}
.panel.grid.no-background .panel-body {
  padding: 0;
}
.panel.grid h4,
.panel.grid .h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.panel.grid span.text-muted {
  white-space: nowrap;
}
.panel.grid span.cell {
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
  white-space: nowrap;
}
.panel.grid span.cell.link {
  cursor: pointer;
}
.panel.grid .hidden-xs hr {
  margin-top: 3px;
  margin-bottom: 3px;
}
.panel.grid .panel-heading .form-inline {
  margin-right: -5px;
}
.panel.grid .panel-heading,
.panel.grid .panel-body {
  padding: 8px;
}
.panel.grid .panel-footer {
  background-color: #ffffff;
}
.panel.grid .in-grid {
  margin-bottom: 5px;
  background-color: #ffffff;
}
.panel.grid .in-grid .row {
  border-bottom: 1px solid #dedbe6;
  margin-right: 0;
  margin-left: 0;
}
.panel.grid .in-grid .row.title {
  border-top: none;
}
.panel.grid .in-grid .row > div[class^="col-"] {
  padding: 8px;
}
.panel.grid .in-grid .checkbox-inline {
  padding-top: 0;
}
.panel.grid .inner-grid {
  margin: 5px 0 5px 16px;
  border: 1px solid #ecf0f1;
  padding: 5px;
  padding-right: 0;
  border-radius: 3px;
}
.panel.grid .inner-grid.success {
  border-left: 3px solid #0088cc;
}
.panel.grid .inner-grid.warning {
  border-left: 3px solid #E76163;
}
.panel.grid .panel-title {
  padding: 5px;
  padding-left: 0;
  display: inline-block;
}
.panel.grid .panel-title:hover {
  cursor: pointer;
}
.panel.grid .panel-title .form-control {
  margin-top: -8px;
  margin-bottom: -8px;
}
.tree-list .list-group {
  margin-top: 5px;
}
.tree-list .list-group-item {
  padding: 2px 0 2px 15px;
}
.tree-list .list-group-item a.title {
  text-decoration: none;
  float: left;
  color: #333333;
}
.tree-list .list-group-item a.title .form-control {
  display: inline-block;
  width: auto;
  border-color: #b4bcc2;
  cursor: auto;
}
.tree-list .list-group-item a.title .form-control[disabled] {
  background-color: transparent;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.tree-list .list-group-item .tools {
  float: right;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .panel.grid .panel-heading {
    padding: 0;
  }
  .panel.grid .panel-heading .form-inline {
    margin-right: 0;
  }
}
.tree {
  margin-top: 10px;
  position: relative;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
}
.tree .form-control {
  border-color: #b4bcc2;
}
.tree hr {
  margin: 5px 0;
}
.tree .tree-item {
  margin-top: 5px;
  margin-bottom: 1px;
}
.tree .tab1 {
  margin-left: 10px;
}
.tree .tab2 {
  margin-left: 30px;
}
.tree .tab3 {
  margin-left: 50px;
}
.tree .tab4 {
  margin-left: 70px;
}
/*# sourceMappingURL=synergy.tmp.practice.css.map */