.timesheet-calenar {
  background-color: #ffffff;
  padding: 5px;
  position: relative;
}
.timesheet-calenar table.table {
  margin-bottom: 0;
}
.timesheet-calenar table.table td,
.timesheet-calenar table.table th {
  padding: 0 1px 1px 0;
  width: 14.28571428571429%;
  border-top: 0;
  border-bottom: 0;
}
.timesheet-calenar table.table tr.underline th {
  border-bottom: 1px solid #ecf0f1;
}
.timesheet-calenar table.table thead th {
  padding-top: 5px;
  padding-bottom: 5px;
}
.timesheet-calenar table.table tbody td {
  cursor: pointer;
}
.timesheet-calenar table.table tbody td > div {
  position: relative;
  padding: 5px;
  height: 86px;
}
.timesheet-calenar table.table tbody td > div .arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ffffff;
  font-size: 10px;
}
.timesheet-calenar table.table tbody td > div:hover {
  background-color: #f0eff4;
}
.timesheet-calenar table.table tbody td > div.success:hover,
.timesheet-calenar table.table tbody td > div.primary:hover,
.timesheet-calenar table.table tbody td > div.optional:hover,
.timesheet-calenar table.table tbody td > div.outrange:hover,
.timesheet-calenar table.table tbody td > div.success:hover {
  opacity: 0.8;
}
.timesheet-calenar table.table tbody td > div.success,
.timesheet-calenar table.table tbody td > div.primary {
  color: #ffffff;
}
.timesheet-calenar table.table tbody td > div.optional {
  background-color: #f0eff4;
}
.timesheet-calenar table.table tbody td > div.outrange {
  background-color: #b4bcc2;
}
.timesheet-calenar table.table tbody td > div.outrange.optional {
  background-color: #b4bcc2;
}
.timesheet-calenar table.table tbody td > div.success {
  background-color: #0db4ba;
}
.timesheet-calenar table.table tbody td > div.success .arrow {
  color: #0db4ba;
}
.timesheet-calenar table.table tbody td > div.success.optional,
.timesheet-calenar table.table tbody td > div.primary.optional,
.timesheet-calenar table.table tbody td > div.success.outrange,
.timesheet-calenar table.table tbody td > div.primary.outrange {
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.timesheet-calenar table.table tbody td > div.success.optional:hover,
.timesheet-calenar table.table tbody td > div.primary.optional:hover,
.timesheet-calenar table.table tbody td > div.success.outrange:hover,
.timesheet-calenar table.table tbody td > div.primary.outrange:hover {
  opacity: 0.7;
}
.timesheet-calenar table.table tbody td > div.primary {
  background-color: #146fa9;
}
.timesheet-calenar table.table tbody td > div.primary .arrow {
  color: #146fa9;
}
.timesheet-calenar .big {
  font-size: 25px;
}
.timesheet-calenar .medium {
  font-size: 17px;
}
.timesheet-calenar .date {
  position: absolute;
  bottom: 0;
}
.timesheet-calenar.widget .medium {
  font-size: 11px;
}
.timesheet-calenar.widget table.table tbody td > div {
  font-size: 12px;
  padding: 1px;
  height: 47px;
}
.timesheet-calenar.widget table.table tbody td > div .arrow {
  display: none;
}
@media (max-width: 767px) {
  .timesheet-calenar {
    padding: 5px;
  }
  .timesheet-calenar .big {
    font-size: 15px;
  }
  .timesheet-calenar .small {
    font-size: 11px;
  }
  .timesheet-calenar table.table tbody td > div {
    font-size: 12px;
    padding: 1px;
    height: 47px;
  }
  .timesheet-calenar table.table tbody td > div .arrow {
    display: none;
  }
}
.timesheet-daylist {
  position: relative;
}
.timesheet-daylist table.table {
  margin-bottom: 0;
}
.timesheet-daylist table.table thead th {
  padding: 10px;
  padding-top: 17px;
  background-color: #ffffff;
  border-bottom: 1px solid #666666;
}
.timesheet-daylist table.table thead tr.ruler {
  visibility: hidden;
}
.timesheet-daylist table.table thead tr.ruler td {
  padding: 0;
}
.timesheet-daylist table.table tfoot td {
  background-color: #ffffff;
}
.timesheet-daylist table.table td,
.timesheet-daylist table.table th {
  border-top: 0;
}
.timesheet-daylist table.table tr:nth-child(odd) {
  background: #ffffff;
}
.timesheet-daylist table.table tr:nth-child(even) {
  background: #f0eff4;
}
.timesheet-daylist table.table tr.total {
  background: #f0eff4 !important;
}
.timesheet-daylist table.table td {
  padding: 5px;
}
.timesheet-daylist table.table td.col1 {
  width: 25%;
}
.timesheet-daylist table.table td.col2 {
  width: 75%;
}
.timesheet-daylist table.table td .card {
  position: relative;
  padding: 5px;
  background-color: #0db4ba;
  color: #ffffff;
  height: 80px;
  vertical-align: bottom;
}
.timesheet-daylist table.table td .card > div.bottom {
  position: absolute;
  bottom: 0;
}
.timesheet-daylist table.table td .card.focus {
  background-color: #ff9a00;
}
.timesheet-daylist .text-big {
  font-size: 28px;
}
.timesheet-daylist .text-medium {
  font-size: 18px;
}
.timesheet-daylist .summary {
  text-align: center;
  padding: 9px;
  font-weight: bold;
}
.timesheet-create .h4 {
  font-size: 20px;
  font-weight: bold;
}
.timesheet-create .spacer-bottom {
  margin-bottom: 10px;
}
.timesheet-create .btn.btn-default {
  background-color: #cccccc;
  border-color: #cccccc;
}
.timesheet-create .btn.btn-default:hover,
.timesheet-create .btn.btn-default:focus,
.timesheet-create .btn.btn-default:active {
  background-color: #b4bcc2;
  border-color: #b4bcc2;
}
.timesheet-create > .row {
  margin-bottom: 10px;
}
.timesheet-create .row-inline .btn {
  font-weight: bold;
}
.timesheet-create table.table {
  background-color: white;
  margin-bottom: 0;
}
.timesheet-create table.table tr.no-border td {
  border: none;
}
.timesheet-create table.table td {
  padding: 7px;
  width: 8.333333333333332%;
  border: none;
}
.timesheet-create table.table td.colspan-2 {
  width: 16.666666666666664%;
}
.timesheet-create table.table td.td-block {
  width: auto !important;
}
.timesheet-create table.table.summary > thead td.td-block {
  cursor: default;
}
.timesheet-create table.table.summary > thead td.td-block:hover {
  opacity: 1;
  background-color: #ffffff;
}
.timesheet-create table.table.summary td {
  cursor: pointer;
}
.timesheet-create table.table.summary td:hover {
  opacity: 0.7;
  background-color: #f0eff4;
}
.timesheet-create table.table.summary td.no-bg {
  padding: 0;
  background-color: #f0eff4;
}
.timesheet-create table.table.summary td.no-bg > div {
  border: 1px solid #cccccc;
  padding: 7px;
  margin-left: 1px;
}
.timesheet-create table.table.summary td.left-border {
  border-left: 1px solid #f0eff4 !important;
}
.timesheet-create table.table.summary td.success,
.timesheet-create table.table.summary td.primary {
  color: #ffffff;
}
.timesheet-create table.table.summary td.optional {
  background-color: #f0eff4;
}
.timesheet-create table.table.summary td.optional:hover {
  background-color: #ffffff;
}
.timesheet-create table.table.summary td.success.optional,
.timesheet-create table.table.summary td.primary.optional {
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.timesheet-create table.table.summary td.primary {
  background-color: #146fa9;
}
.timesheet-create table.table.summary td.primary .arrow {
  color: #146fa9;
}
.timesheet-create .items-head {
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
}
.timesheet-create .unallocate {
  margin-bottom: 0;
}
.timesheet-create .unallocate .items-head {
  margin-top: -38px;
}
.timesheet-create .time-entry {
  position: relative;
  background-color: white;
}
.timesheet-create .time-entry .spinner-container > span {
  margin-top: 10px;
}
.timesheet-create .time-entry.new-entry .tab {
  opacity: 0.7;
}
.timesheet-create .time-entry div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.timesheet-create .time-entry .table {
  background-color: transparent;
}
.timesheet-create .time-entry.time-unallocated .desc,
.timesheet-create .time-entry.time-unallocated .tools {
  opacity: 0.3;
}
.timesheet-create .time-entry.time-unallocated .tools {
  bottom: auto;
  text-align: center;
  opacity: 1;
  top: 50%;
}
.timesheet-create .time-entry .timer-item {
  position: absolute;
  width: 50%;
  text-align: center;
  height: 50%;
  top: 40%;
}
.timesheet-create .time-entry .time-info {
  position: absolute;
  height: 100%;
  width: 50%;
}
.timesheet-create .time-entry .time-info .dot {
  position: absolute;
  bottom: 5px;
  width: 30px;
  text-align: center;
  color: white;
}
.timesheet-create .time-entry .time-info .desc {
  height: 100%;
  margin-left: 35px;
  font-size: 14px;
  padding: 10px;
}
.timesheet-create .time-entry .tools {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  text-align: right;
  padding-right: 20px;
}
.timesheet-create .time-entry table.table tr td:last-child input[type="text"].form-control {
  border-right-width: 1px;
}
.timesheet-create .time-entry table.table td {
  padding: 0;
  position: relative;
  border: 0;
}
.timesheet-create .time-entry table.table td input[type="text"].form-control {
  display: block;
  text-align: center;
  font-size: 15px;
  border-right-width: 0;
}
.timesheet-create .time-entry table.table td input[type="text"].form-control:focus,
.timesheet-create .time-entry table.table td input[type="text"].form-control:active {
  border-right-width: 1px;
}
.timesheet-create .time-entry table.table td.time-label {
  color: #95a5a6;
  padding: 5px 0 0 3px;
}
.timesheet-create .time-entry table.table td input.form-control.span {
  height: auto;
  font-size: 11px;
  text-align: right;
  padding: 3px;
}
.timesheet-create .time-entry table.table td.note {
  padding-top: 5px;
  padding-bottom: 5px;
}
.timesheet-create .time-entry table.table td.note > .textarea {
  position: relative;
}
.timesheet-create .time-entry table.table td.note > .textarea > div {
  top: 11px;
  left: 20px;
  position: absolute;
}
.timesheet-create .time-entry table.table td.note textarea.form-control {
  min-height: 60px;
  color: #95a5a6;
  padding: 10px;
  padding-left: 70px;
}
@media (max-width: 767px) {
  .timesheet-daylist .text-big {
    font-size: 22px;
  }
  .timesheet-daylist .text-medium {
    font-size: 15px;
  }
  .timesheet-create .h4 {
    font-size: 18px;
    font-weight: normal;
  }
  .timesheet-create .xs-small {
    font-size: 11px;
  }
  .timesheet-create .unallocate {
    margin-bottom: 10px !important;
  }
  .timesheet-create .unallocate .items-head {
    margin-top: 0 !important;
  }
  .timesheet-create table.table {
    margin-bottom: 0;
  }
  .timesheet-create table.table td {
    width: 14.28571428571429% !important;
    padding: 1px !important;
  }
  .timesheet-create table.table td.td-block {
    width: auto !important;
  }
  .timesheet-create table.table td.title {
    font-size: 12px;
  }
  .timesheet-create table.table td.no-bg {
    padding: 0 !important;
  }
  .timesheet-create table.table td.no-bg > div {
    padding: 1px;
    margin-left: 1px;
  }
  .timesheet-create table.table.summary td.no-bg > div {
    padding: 0;
  }
  .timesheet-create .time-entry .time-info {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0 2px;
  }
  .timesheet-create .time-entry .time-info .desc {
    padding: 5px;
    font-size: 13px;
  }
  .timesheet-create .time-entry .timer-item {
    width: 100%;
    top: 30px;
    height: auto;
  }
  .timesheet-create .time-entry .tools {
    position: relative;
    width: 100%;
    padding-left: 30px;
    text-align: left;
  }
  .timesheet-create .time-entry .tools .btn {
    font-size: 13px;
  }
  .timesheet-create .time-entry.time-unallocated .tools {
    position: absolute;
    bottom: auto;
    top: 20px;
  }
  .timesheet-create .time-entry table.table td {
    padding: 0;
  }
  .timesheet-create .time-entry table.table td input[type="text"].form-control {
    text-align: left;
    font-size: 14px;
    padding: 3px;
    height: auto;
    border-right-width: 1px;
  }
  .timesheet-create .time-entry table.table td input[type="text"].form-control.span {
    font-size: 11px;
  }
  .timesheet-create .time-entry table.table td.note > div {
    display: none;
  }
  .timesheet-create .time-entry table.table td.note textarea.form-control {
    min-height: 68px;
    padding: 5px;
    font-size: 12px;
  }
}
.my-project {
  position: relative;
}
.my-project .list-default img.thumb {
  width: 60px;
  height: 60px;
  padding: 1px;
  margin-right: 5px;
  border: 1px solid #b4bcc2;
}
.my-project .list-default .shift {
  margin-top: -61px;
}
.my-project .list-default .tool {
  position: absolute;
  right: 15px;
  top: 0;
}
.my-project .list-default .btn-group a.dropdown-toggle img {
  background-color: #666666;
}
.my-project .list-default .btn-group a.dropdown-toggle:hover,
.my-project .list-default .btn-group a.dropdown-toggle:active {
  opacity: 0.7;
}
.my-project .list-default .log {
  position: absolute;
  left: 25%;
  bottom: 0;
  margin-left: 15px;
}
.my-project .list-default .aclog {
  color: #95a5a6;
  font-style: italic;
  position: absolute;
  bottom: 0;
  width: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .my-project .list-default img.thumb {
    width: 50px;
    height: 50px;
  }
  .my-project .list-default .header {
    margin-bottom: 10px;
  }
  .my-project .list-default .header .text {
    font-size: 12px;
  }
  .my-project .list-default .shift {
    margin-top: 0;
  }
  .my-project .list-default .scope {
    padding-left: 0;
    padding-right: 15px;
  }
  .my-project .list-default .scope .text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .my-project .list-default .log {
    left: 41.66666666666667%;
    font-size: smaller;
  }
  .my-project .list-default .aclog {
    position: inherit;
    font-size: smaller;
  }
  .my-project .list-default .aclog .text {
    padding-left: 0;
  }
}
/*# sourceMappingURL=synergy.tmp.user.css.map */