.signup-layout {
  margin-top: 0;
}
.signup-logo img {
  width: 80px;
  padding-bottom: 10px;
}
.row-box {
  background-color: #f0eff4;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 1px;
}
.footer-row {
  color: #ffffff;
  margin-top: 20px;
  -webkit-text-shadow: 0px 0px 12px #333333,0px 0px 11px #333333;
  text-shadow: 0px 0px 12px #333333,0px 0px 11px #333333;
}
.footer-row a {
  color: #ffffff;
}
.appform.bordered .form-control,
.appform.bordered textarea.form-control,
.appform.bordered input[type="text"],
.appform.bordered input[type="password"],
.appform.bordered input[type="datetime"],
.appform.bordered input[type="datetime-local"],
.appform.bordered input[type="date"],
.appform.bordered input[type="month"],
.appform.bordered input[type="time"],
.appform.bordered input[type="week"],
.appform.bordered input[type="number"],
.appform.bordered input[type="email"],
.appform.bordered input[type="url"],
.appform.bordered input[type="search"],
.appform.bordered input[type="tel"],
.appform.bordered input[type="file"],
.appform.bordered input[type="color"],
.appform.bordered .uneditable-input {
  border-color: #cccccc;
}
.appform.bordered .form-control:focus,
.appform.bordered textarea.form-control:focus,
.appform.bordered input[type="text"]:focus,
.appform.bordered input[type="password"]:focus,
.appform.bordered input[type="datetime"]:focus,
.appform.bordered input[type="datetime-local"]:focus,
.appform.bordered input[type="date"]:focus,
.appform.bordered input[type="month"]:focus,
.appform.bordered input[type="time"]:focus,
.appform.bordered input[type="week"]:focus,
.appform.bordered input[type="number"]:focus,
.appform.bordered input[type="email"]:focus,
.appform.bordered input[type="url"]:focus,
.appform.bordered input[type="search"]:focus,
.appform.bordered input[type="tel"]:focus,
.appform.bordered input[type="file"]:focus,
.appform.bordered input[type="color"]:focus,
.appform.bordered .uneditable-input:focus {
  border-color: #22b4b9;
}
.appform .form-section {
  border: 1px solid #cccccc;
  padding: 7px;
  margin-bottom: 15px;
}
.appform .form-section .header {
  color: #95a5a6;
  padding: 5px;
  font-size: larger;
  font-weight: bold;
}
.appform .form-section .header .checkbox-inline {
  vertical-align: top;
  font-weight: bold;
}
.appform .form-section .body {
  margin-top: 8px;
}
.appform .form-group {
  position: relative;
}
.appform .form-group > .title {
  font-size: 15px;
  font-size: 18px;
  font-weight: bold;
}
.appform .form-group > .title.title-accent {
  color: #22b4b9;
}
.appform .form-group > .title span {
  font-weight: normal;
}
.appform .form-group label {
  text-align: left;
}
.appform .link a {
  padding-top: 6px;
  color: #333333;
}
.appform .link.link-right {
  position: absolute;
  right: 0;
  top: 0;
}
.appform .btn-strong {
  font-size: 18px;
  font-weight: bold;
}
.appform .validation-summary-errors {
  border: 1px solid #e76163;
  border-radius: 2px;
}
.appform .has-error .control-label {
  color: #333333;
}
.appform .has-error .field-validation-error {
  display: block;
  padding: 3px;
  background-color: #e76163;
  color: #ffffff;
  text-align: center;
}
.appform .has-error .field-validation-valid-message {
  display: none;
}
.appform .has-valid .form-control,
.appform .has-valid .form-control:focus {
  border: 1px solid #22b4b9;
}
.appform .has-valid .field-validation-valid-message {
  display: block;
  padding: 3px;
  background-color: #22b4b9;
  color: #ffffff;
  text-align: center;
}
.shadow {
  -webkit-text-shadow: 0px 0px 12px #333333,0px 0px 11px #333333;
  text-shadow: 0px 0px 12px #333333,0px 0px 11px #333333;
}
@media (max-width: 767px) {
  .footer-row {
    color: #333333;
    -webkit-text-shadow: none;
    text-shadow: none;
  }
  .footer-row a {
    color: #333333;
  }
  .footer-row a:active,
  .footer-row a:hover {
    color: #22b4b9;
  }
}
/*# sourceMappingURL=synergy.tmp.signup.css.map */